
@mixin font-style-intro($fz_intro, $color_intro) {
    font-family: 'Intro Demo', sans-serif;;
font-style: normal;
font-weight: 400;
font-size: $fz_intro;
line-height: $fz_intro*1.5;
color: $color_intro;
}
@mixin font-style-Roboto($fz_Roboto, $color_Roboto) {
    font-family: 'Roboto', sans-serif;;
   font-style: normal;
   font-weight: 200;
   font-size: $fz_Roboto;
   line-height: 1.6;
   color: $color_Roboto;
}
header,
.footer__menu,
.main,
.block-img{
    max-width: 2000px;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;

}
.header__block{
    padding-left: 78PX;
    padding-right: 74PX;
    display: flex;
    justify-content: space-between;
  
}
h1{
    @include font-style-intro(60px, #000000);
    padding-left: 123px;
}
.block-img{
    display: flex;
    flex-direction: row;
    padding-left: 35px;
    padding-right: 35px;
}
.karta {
    width: 30%;
    border: 1px solid black;
    padding-left: 35px;
    padding-right: 35px;
}
.karta__header {@include font-style-intro(30px, #000000);}
.karta__text{@include font-style-Roboto(20px, #000000);}
.karta__img{
    width: 100%;
  }
  .block-img-none{
    display: flex;
    flex-direction: row;
}
.button
{
    @include font-style-intro(13px, #ffffff);
    background: #5222D0;
    border-radius: 100px;
    padding: 16px 15px;
    text-decoration: none;
}
.button-buy
{
    @include font-style-intro(35px, #ffffff);
    background: #5222D0;
    border-radius: 100px;
    padding: 28px 33px;
    text-decoration: none;
    margin-left: 116px;
}
.forma{
    margin:35px;
    margin-bottom: 0%;
    width: 30%;
    background: #EC615B;
}
.forma__header{
    @include font-style-intro(30px, #faf2f2);
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 18px;
}
.forma__input{
    padding: 9px;
    margin-bottom: 10px;
}
.footer__link{
    text-decoration: none;
    @include font-style-Roboto(20px, #000000);
    padding: 17px;
}
.footer__link-main{
    text-decoration: none;
    @include font-style-Roboto(20px, 5222D0);
    padding: 17px;}
.footer__menu{padding-top: 86px;
              padding-left: 126px;}
.main{
    background: url(sass/img/pic.png);
    display:grid;
    grid-template-areas: "main__header main__img"
                          "main__text main__img"
                           "main__button main__img";
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: auto auto auto;
    gap: 0rem;


}
.main__header{
    grid-area:main__header;
    @include font-style-intro(60px, #000000);
    width: 100%;
    padding-left: 126px;
}
.main__text{
    grid-area:main__text; 
    @include font-style-Roboto(20px, #000000);
    width: 100%;
    padding-left: 126px;
    padding-bottom: 26px;
}
.main__img{
    grid-area: main__img;
    width: 100%;
}
.main__button{
    grid-area: main__button;
}